<div class ="ring">
   <span class="attac"><%= @player2name %> takes a hit from <%= @player1name %></span>
   <div class="playertwo"><%= @player2name %>: 100 Hit Points<br><a class="fight" href=""><%= @player2name %>: FIGHT! </a></div>
   <div class="playerone"><%= @player1name %>: 100 Hit Points<br><span class="fight" href=""><%= @player1name %>: FIGHT!</span></div>
</div>


