<audio preload="auto" autoplay loop>
<source src="https://ia902906.us.archive.org/16/items/filmcd201/01%20-%20Akira%20Ifukube%20-%20Main%20Title%20%28Gojira%2C%201954%29.mp3" type="audio/mpeg">
</audio>
<div class ="ring">
   <span class="playeroneis"><span class="player">In the top left corner, we got the featherweight noob <span class="player-name"><%= @game.player1.name %></span>!</span></span>
   <span class="playertwois"><span class="player">Meanwhile, <span class="player-name"><%= @game.player2.name %></span>, in the bottom right corner, stretching.</span></span>
   <div class="playertwo"><%= @game.player2.name %> HIT POINTS: <%= @game.player2.hp %><br><a class="fight" href="/attac"><%= @game.player2.name %>: FIGHT! </a></div>
   <div class="playerone"><%= @game.player1.name %> HIT POINTS: <%= @game.player1.hp %><br><a class="fight" href="/attac"><%= @game.player1.name %>: FIGHT!</a></div>
</div>

