<audio preload="auto" autoplay loop>
<source src="https://ia902906.us.archive.org/16/items/filmcd201/01%20-%20Akira%20Ifukube%20-%20Main%20Title%20%28Gojira%2C%201954%29.mp3" type="audio/mpeg">
</audio>
<div class ="ring">
   <span class="playeroneis"><span class="player">In the top left corner, we got the featherweight noob <span class="player-name"><%= @player1name %></span>!</span></span>
   <span class="playertwois"><span class="player">Meanwhile, <span class="player-name"><%= @player2name %></span>, in the bottom right corner, stretching.</span></span>
   <div class="playertwo"><%= @player2name %>: 100 Hit Points<br><a class="fight" href="/attac"><%= @player2name %>: FIGHT! </a></div>
   <div class="playerone"><%= @player1name %>: 100 Hit Points<br><a class="fight" href="/attac"><%= @player1name %>: FIGHT!</a></div>
</div>

